<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <h1 v-bind:class="color"> ciao {{ message }}</h1>
        colore che preferisci: <input type="text" v-model="color">
        insersci il tuo nome: <input type="text" v-model=" message "><br>
        <img v-bind:src="pics" alt="" >
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>
</body>
</html>